/* Definição de Codificação e Importação de Fontes */

@charset "utf-8";

/* Importação de Fontes do Google */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Configuração de fonte e cor*/

:root{

    /*Configuração de fonte*/

    --fonte_padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_cabecalho: 'Work Sans', sans-serif;
    --fonte_corpo: 'Roboto', sans-serif;

    /*Configuração de cor*/

    --cor00: #ffffff;
    --cor01: #5CC9E6;
    --cor02: #9AFC97;
    --cor03: #F2E191;
    --cor04: #F57A6E;
    --cor05: #C797FC;
    --cor06: #000000;

}

/*Configuração global*/

*{
    padding: 0px;
    margin: 0px;
    
}

abbr{
    text-decoration: none;
}

/*Configuração do Corpo do site*/

body{
    background-color: var(--cor00);
    font-family: var(--fonte_padrao);
    
    
}

/*Configuração do Cabeçalho do site e Menu*/

header {
    background-color: var(--cor01);
    text-align: center;
    font-family: var(--fonte_cabecalho)
    
   
    
}

header h1 {
    color: white;
    padding: 20px;
    font-size: 2.5em;
   
}

nav{
    padding: 15px;
    font-size: 1.5em;
    
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
        
}

nav a:hover{
    background-color: var(--cor04);
    border-radius: 10px;
}

/*Configuração do conteudo do site*/

main{
    min-width: 200px;
    max-width: 1200px;
    margin: auto;  
    border: 2px solid var(--cor01); 
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
}



/*Configuração Section HTML*/

section#html {
   border: 3px solid var(--cor03);
   border-radius: 0px 0px 10px 10px;
   padding: 20px;
   
   
    
}

h2.html{
    background-color: var(--cor03);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte_corpo);
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
}

/*Configuração das div's*/

div.material{
    font-family: var(--fonte_corpo);
    font-size: 1em;
    line-height: 25px;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15vw;
    height: 3vw;
    border: 2px solid var(--cor03);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    
    
    
    
}

div.material:hover{
    background-color: var(--cor03);
}

div.material a{
    text-decoration: none;
    color: black;
       
    
    
    
}

/*Configuração Section JavaScript */

section#javascript{
    margin-top: 100px;
    border: 3px solid var(--cor05);
    border-radius: 0px 0px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    
    
    
    
     
 }
 
 h2.javascript{
     background-color: var(--cor05);
     padding: 20px;
     text-align: center;
     font-family: var(--fonte_corpo);
     margin-bottom: 20px;
     border-radius: 10px 10px 0px 0px;
 }

 div.m_js{
    font-family: var(--fonte_corpo);
    font-size: 1em;
    line-height: 25px;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20vw;
    height: 02vw;
    border: 2px solid var(--cor05);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    
    
    
    
    
}

div.m_js:hover{
    background-color: var(--cor05);
}

div.m_js a{
    text-decoration: none;
    color: black;
       
    
    
    
}

footer{
    background-color: var(--cor01);
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
    padding: 30px;
}

footer img{
    width: 32px;
    height: 32px;
    margin-top: 30px;
}

footer img.curso{
    width: 150px;
    height: 72px;
}


